@import '../../../../variables.scss';

.header {

}

.header__top {
  background-color: $header-background-top-color;
  width: 100%;
  height: $header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.header__logo {
  color: $white;
  text-transform: uppercase;
  font-size: 18px;
}

.right__link {
  color: $white;
  margin-left: 40px;
  font-size: $header-link-font-size;
}

.nav__link {
  color: $header-link-color;
  height: 100%;
  padding: 0 15px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: $header-link-font-size;
}

.nav__link:hover {
  color: $header-link-hover;
}

.nav__button {
  background-color: transparent;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__button img {
  width: 24px;
  height: auto;
}

.header__nav {
  background-color: $header-background-nav-color;
  width: 100%;
  height: $header-nav-height;
  padding: 0 5px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $header-nav-border-color;
}

.nav__toggle {
  display: none;
}

.dropdown {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.dropdown__link {
  text-transform: uppercase;
  font-size: $header-link-font-size;
  color: $header-link-color;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px 0 15px;
}

.dropdown__link:hover {
  color: $header-link-hover;
}

.dropdown__arrow {
  opacity: 0.5;
  cursor: pointer;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid $header-nav-border-color;
  border-right: 1px solid $header-nav-border-color;
}

.dropdown__arrow:hover {
  opacity: .7;
}

.settings__icon {
  border: none;
  padding-left: 5px;
}

.dropdown__menu {
  display: flex;
  flex-direction: column;
  background-color: $white;
  padding: 5px 0;
  position: absolute;
  top: 30px;
  left: 0;
  min-width: 230px;
  border: 1px solid rgba(0,0,0,.15);
  box-shadow: $dropdown-menu-shadow;
  z-index: 1;
}

.dropdown__item {
  color: #262626;
  font-size: $header-link-font-size;
  padding: 3px 15px;
  line-height: 1.5;
}

.dropdown__item:hover {
  background-color: #f5f5f5;
  color: #262626;
}

.active {
  background-color: $link-active-background;
  color: $link-active-color;
  opacity: 1;
}

.active--link,
.active--link:hover {
  background-color: $dropdown-active-link;
  color: $white;
}

.paddingRight {
  padding-right: 15px;
}

.right__small {
  display: none;
}

.header__account {
  position: absolute;
  top: 29px;
  right: 0;
  background-color: $white;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0,0,0,.15);
  box-shadow: $dropdown-menu-shadow;
  z-index: 1;
  padding: 5px 0;
}

.account__link {
  color: #262626;
  font-size: $header-link-font-size;
  padding: 3px 15px;
  line-height: 1.5;
}

.small__account {
  display: flex;
  justify-content: center;
  align-items: center;
}

.settings__icon--sm {
  display: none;
}

@media only screen and (max-width: 1200px) {
  .dropdown__menu {
    right: 0;
    left: auto;
  }
}

@media only screen and (max-width: 800px) {
  .header__nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start ;
    padding: 0;
    height: auto;
  }

  .dropdown:first-child {
    margin-top: 15px;
  }

  .dropdown:last-child {
    margin-bottom: 10px;
  }

  .dropdown {
    justify-content: space-between;
    padding: 0;
    min-height: 30px;
  }

  .dropdown__link {
    justify-content: space-between;
    padding: 0;
    padding: 10px 0 10px 10px;
    min-height: auto;
  }

  .dropdown__arrow {
    border: none;
    margin-left: 0;
    padding: 5px;
  }
  .dropdown__menu {
    width: 100%;
    right: auto;
    left: 0;
    top: 34px;
  }
  .nav__toggle {
    display: -webkit-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .settings__icon--sm {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    font-size: $header-link-font-size;
    color: $header-link-color;
    padding: 0 5px 0 10px;
    opacity: 1;
  }

  .settings__icon--sm img {
    opacity: .5;
  }

  .right__large {
    display: none;
  }

  .right__small {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .right__small img {
    width: 24px;
    height: auto;
  }

  .settings__icon {
    display: none;
  }

  .paddingRight {
    padding: 10px;
  }
}
