<header class="header">
  <div class="header__top">
    <div class="nav__toggle">
      <button class="nav__button" (click)="toggleMenu()">
        <img src="./assets/icons/menu.png">
      </button>
    </div>
    <a class="header__logo">Zidium</a>
    <div *ngIf="!model.isUser">
      <a class="right__link">Войти</a>
    </div>
    <div *ngIf="model.isUser">
      <div class="right__large">
        <a class="right__link">{{model.email}}</a>
        <a class="right__link" (click)="logOut()">Выйти</a>
      </div>
      <div class="right__small" (clickOutside)="onClickedOutsideAccount()">
        <a class="small__account" (click)="toggleAccount()">
          <img src="./assets/icons/account.png">
        </a>
        <div class="header__account" *ngIf="model.isShowAccount">
          <a class="account__link">{{model.email}}</a>
          <a class="account__link" (click)="logOut()">Выйти</a>
        </div>
      </div>
    </div>

  </div>
  <div *ngIf="model.isUser" class="header__nav" (clickOutside)="onClickedOutside()">

    <ng-container *ngIf="model.isShowMenu">
      <div class="dropdown"
           *ngFor="let item of menuItems">
        <a class="dropdown__link"
           *ngIf="item.name !== ''"
           [routerLink]="item.link"
           [ngClass]="{paddingRight:!item.children,
                      active:item.active}"
           (click)="onCloseDropdownMenu()">{{item.name}}</a>
        <ng-container *ngIf="item.children">
          <span class="dropdown__arrow"
                *ngIf="item.name !== ''; else settings__item"
                [class.active]="item.active"
                (click)="toggleMenuItem(item)">
            <img src="./assets/icons/arrow_drop_down.svg">
          </span>
          <ng-template #settings__item>
            <span class="dropdown__arrow settings__icon"
                  [class.active]="item.active"
                  (click)="toggleMenuItem(item)">
              <img src="./assets/icons/settings.svg">
              <img src="./assets/icons/arrow_drop_down.svg">
              </span>
              <span class="dropdown__arrow settings__icon--sm"
                    [class.active]="item.active"
                    (click)="toggleMenuItem(item)">
              Настройки
              <img src="./assets/icons/arrow_drop_down.svg">
            </span>
          </ng-template>
          <div class="dropdown__menu" *ngIf="item.show">
            <a class="dropdown__item"
               *ngFor="let child of item.children"
               [routerLink]="child.link"
               [routerLinkActive]="'active--link'"
               (click)="onCloseDropdownMenu()">{{child.name}}</a>
          </div>
        </ng-container>
      </div>
    </ng-container>

  </div>

</header>
