html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  outline-color: transparent;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
  background: transparent;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
}
:focus {
  outline: 0;
  outline-color: transparent;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
header input, body button {
  border: none;
  outline: none;
}
a{
  text-decoration: none;
}
a:hover{
  cursor: pointer;
}
textarea{
  resize: none;
}
