$header-background-top-color: #337ab7;
$header-background-nav-color: #F8F8F8;
$header-link-color: #777;
$header-link-hover: #333;
$header-height: 35px;
$header-nav-height: 30px;
$header-link-font-size: 14px;
$header-nav-border-color: #d3d3d3;
$link-active-background: #e7e7e7;
$link-active-color: #555;
$dropdown-menu-shadow: 0 6px 12px rgba(0,0,0,.175);
$dropdown-active-link: #337ab7;

$white: #ffffff;

$option-item-color: #262626;
$option-item-hover-background: #f5f5f5;
