@import '../../../../variables.scss';

.footer {
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 15px;
  border-top: 1px solid $header-nav-border-color;
  font-size: 14px;
}

.footer__left p {
  margin-bottom: 3px;
}

.footer__left {
  display: flex;
  flex-direction: column;
}

.left__link {
  margin: 3px 0;
  color: #337ab7;
}

.footer__right {
  display: flex;
}

.right__link {
  width: 30px;
  height: 30px;
  margin-left: 7px;
}
