<div class="footer">
  <div class="footer__left">
    <p>Система мониторинга Zidium</p>
    <a class="left__link" href="mailto:info@zidium.net">info@zidium.net</a>
  </div>
  <div class="footer__right">
    <a class="right__link" href="https://vk.com/zidium" target="_blank">
      <img src="./assets/icons/vk.svg">
    </a>
    <a class="right__link" href="https://twitter.com/ZidiumNet" target="_blank">
      <img src="./assets/icons/twitter.svg">
    </a>
  </div>
</div>
